/* Footer General Styles */
.footer-container {
    text-align: center;
    padding: 10px;
}

a {
    text-decoration: none;
    color: #016fff;
    transition: color 0.3s ease-in-out;
}
.footer-links a:hover {
    color: #016fff;
}

/* Footer Bottom */
.footer-bottom {
    padding-top: 5px;
    font-size: 0.95rem;
}
