<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.password">postgres@123</property>
        <property name="hibernate.connection.url">jdbc:postgresql://172.16.0.209:5432/smartmeter_demo</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.current_session_context_class">thread</property>

        
      <mapping resource="com/smartmeter/hbm/UserDetails.hbm.xml" />
      <mapping resource="com/smartmeter/hbm/MasterData.hbm.xml" />
      <mapping resource="com/smartmeter/hbm/MasMetermasterDashboard.hbm.xml" />
      <mapping resource="com/smartmeter/hbm/MasMetermasterInventory.hbm.xml" />
        <mapping resource="com/smartmeter/hbm/RealtimeTamperMaster.hbm.xml" />
      <mapping resource="com/smartmeter/hbm/TamperMeterMaster.hbm.xml" />
      <mapping resource="com/smartmeter/hbm/DailyBillingData.hbm.xml" />
      <mapping resource="com/smartmeter/hbm/InstantData.hbm.xml" />
      <mapping resource="com/smartmeter/hbm/MonthlyBillingData.hbm.xml" />
       <mapping resource="com/smartmeter/hbm/EventsData.hbm.xml" />
        <mapping resource="com/smartmeter/hbm/EventsSummaryData.hbm.xml" />
          <mapping resource="com/smartmeter/hbm/Meterconfig.hbm.xml" />
      
       	

    </session-factory>
</hibernate-configuration>

