/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

/* Background */
.main-container {
  height: 100vh;
 /* background: linear-gradient(rgba(48, 47, 47, 0.7), rgba(0, 0, 0, 0.7)), 
              url("../public/images/smart_meter4.jpg"); */
  background-image: url("../public/images/smart_meter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.login-container {
  display: flex;
  justify-content: left;
  align-items: center;
  /* margin-top: 5%; */
}

/* Login Card */
.login-card {
  width: 100%;
  max-width: 400px;
  margin-left: 10%;
  padding: 2rem;
  /* background-color: rgba(255, 255, 255, 0.2); */
  border-radius: 15px;
  text-align: center;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.6);
}

/* Title */
.login-title {
  font-size: 1.8rem;
  font-weight: bold;
}

/* Subtitle */
.login-subtitle {
  margin-bottom: 1.5rem;
  font-size: 1rem;
  color: #ddd;
}

/* Input Fields */
.input-group {
  position: relative;
  margin-bottom: 1rem;
}

.input-group input {
  width: 100%;
  padding: 12px 12px 12px 40px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 1rem;
  background: rgba(255, 255, 255, 0.2);
  color: white;
}

.input-group input::placeholder {
  color: #ddd;
}

/* Input Icons */
.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #ddd;
}

/* Button */
.login-button {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background: linear-gradient(90deg, #3b82f6, #1e40af);
  cursor: pointer;
  transition: 0.3s;
}

.login-button:hover {
  background: linear-gradient(90deg, #2563eb, #1e3a8a);
  box-shadow: 0px 0px 15px rgba(59, 130, 246, 0.7);
}

/* Footer Links */
.login-footer {
  margin-top: 1rem;
  font-size: 0.9rem;
}

.login-footer a {
  color: #60a5fa;
  text-decoration: none;
}

.login-footer a:hover {
  text-decoration: underline;
}